.blog-form-container {

  background:white;
  padding:30px;
  border-radius:12px;

}


.blog-form-header {

  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;

}


.blog-form-header button {

  border:none;
  padding:8px 15px;
  border-radius:6px;
  cursor:pointer;

}


.blog-form-container form {

  display:flex;
  flex-direction:column;
  gap:10px;

}


.blog-form-container label {

  font-weight:600;
  color:#0f172a;
  margin-top:10px;

}


.blog-form-container input,
.blog-form-container textarea {

  padding:12px;
  border:1px solid #e2e8f0;
  border-radius:8px;
  font-size:15px;

}


.blog-form-container textarea {

  resize:vertical;

}


.publish-box {

  margin-top:15px;

}


.save-blog-btn {

  margin-top:20px;
  background:#2563eb;
  color:white;
  border:none;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;

}


@media(max-width:768px){

  .blog-form-container {

    padding:20px;

  }

}